@import url("https://fonts.googleapis.com/css2?family=Lexend&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

.lexend {
  font-family: "Lexend", serif;
}

.red-hat {
  font-family: "Red Hat Display", serif;
}

.header-top {
  min-height: 120px;
  background: linear-gradient(90deg, #ebb3ee -48.96%, #ffffff 100%);
}

.logo img {
  width: 101px;
  height: 70px;
}

.navi {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 55px;
}

.navbar-brand {
  margin-left: 80px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 120px;
  justify-content: space-between;
}

.header1 {
  display: flex;
  justify-content: space-around;
  width: 55%;
  gap: 17px;
}

.search input {
  border-radius: 90px;
  border: none;
  width: 443px;
  height: 56px;
  background-image: url("../Images/search.png");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: left;
  background-position-x: 10px;
  padding: 20px 40px;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 196px;
}

.lh-05 {
  line-height: 0.5;
}

.lh-0 {
  line-height: 0px;
}

.lh-10 {
  line-height: 10px;
}

.lh-5 {
  line-height: 5px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}
.fs-23{
  font-size: 23px;
}

.fs-24 {
  font-size: 24px;
}

.fs-26 {
  font-size: 26px;
}

.fs-27 {
  font-size: 27px;
}

.fs-28 {
  font-size: 28px;
}

.fs-30 {
  font-size: 30px;
}

.fs-34 {
  font-size: 34px;
}

.fw-300 {
  font-weight: 300;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.txt-grey {
  color: #b3b3b3;
}

.txt-orange {
  color: #f5970a;
}

.txt-pink {
  color: #fe0dc9;
}

.view-prof {
  text-decoration: underline;
  color: #2f2f2d;
}

.view-prof a {
  color: #2f2f2d;
}

.view-prof a:hover {
  cursor: pointer;
}

.profile-img {
  width: 70px;
  height: 70px;
}

.name .nav-item .profile-img img {
  width: 70px;
  height: 70px;
}

.sidebar {
  /* width: 100%; */
  height: 1000px;
  background-color: white;
  padding-top: 50px;
}

.nav-item img {
  width: 21px;
  height: 21px;
  margin-right: 10px;
}

.nav-item a {
  text-decoration: none;
  color: #000000;
  padding-left: 10px;
}
.nav-item a:hover {
  text-decoration: none; /* Removes underline on hover */
  background-color: rgba(239, 114, 246, 0.15); /* Semi-transparent background */
  padding-left: 10px; /* Adds padding to the left */
  border-radius: 10px; /* Rounds corners */
  color: #FE0DC9; /* Text color */
}


.nav-link {
  padding: 10px;
  font-family: "Red Hat Display", serif;
  font-size: 15px;
  font-weight: 600;
}

.sidebar ul li {
  list-style-type: none;
  padding: 10px;
  font-family: "Red Hat Display", serif;
  font-size: 15px;
  font-weight: 600;
}
.toggle-btn{
  width: 100px;
  height: 50px;
  background-image: url("../Images/toggler.png");
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;

}
.sidebar ul li img {
  width: 21px;
  height: 21px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #000000;
  padding: 20px;
}

.section {
  /* border: 1px solid burlywood;
    height: 500px; */
}

.bg-greyish {
  background-color: #f4f4f4;
}

.booking-cart-green {
  height: 120px;
  background-color: #29d195;
  border-radius: 15px;
  padding: 25px;
  color: #ffffff;
}

.booking-cart-yellow {
  height: 120px;
  background-color: #e9c957;
  border-radius: 15px;
  padding: 25px;
  color: #ffffff;
}

.booking-cart-blue {
  height: 120px;
  background-color: #37a5e3;
  border-radius: 15px;
  padding: 25px;
  color: #ffffff;
}

.booking-cart-red {
  height: 120px;
  background-color: #ef6262;
  border-radius: 15px;
  padding: 25px;
  color: #ffffff;
}

.service-cart {
  border: none;
  border-radius: 15px;
  background-color: #ffffff;
  height: 413px;
  margin: 10px;
  padding: 20px;
}

.cart-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  border-bottom: 1px solid #d2d2d2;
}

.sv-cart-img img {
  width: 41px;
  height: 41px;
}

.sv-cart-img {
  height: 42px;
}

.sv-btn {
  background-color: #2f2f2d;
  color: #ffffff;
  padding: 5px 15px;
  font-size: 14px;
  border-radius: 10px;
}

.as-cart {
  border: none;
  border-radius: 15px;
  background-color: #ffffff;
  /* height: 413px; */
  margin: 10px;
  padding: 20px;
}

.as-head {
  background-color: #fe0dc91a;
  display: flex;
  justify-content: space-around;
  padding-top: 16px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.as-head1 {
  background-color: #fe0dc91a;
  padding-top: 16px;
  height: 53px;
}

.as-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  height: 70px;
  border-bottom: 1px solid #d2d2d2;
}

.as-action img {
  width: 23.45px;
  height: 23.45px;
}

.as-content p {
  padding-top: 10px;
}

.as-table {
  width: 100%;
  /* text-align: center; */
}

.as-tr th {
  background-color: #fe0dc91a;
}

.as-tr th:first-child {
  border-top-left-radius: 10px;
}

.as-tr th:last-child {
  border-top-right-radius: 10px;
}

/* .as-table tr {
  border-bottom: 1px solid #d2d2d2;
} */
.as-table td {
  padding-top: 15px;
}

.pink-bg {
  background-color: #fe0dc9;
}

.indent {
  text-indent: 10px;
}

.rs-head th {
  background-color: #fe0dc91a;
  height: 52px;
  padding-top: 15px;
}

.rs-head th:first-child {
  border-top-left-radius: 10px;
}

.rs-head th:last-child {
  border-top-right-radius: 10px;
}

.recent-cart {
  border: none;
  border-radius: 15px;
  background-color: #ffffff;
  /* height: 413px; */
  margin: 10px;
  padding: 20px;
}

.recent-booking {
  display: flex;
  margin: 20px;
  justify-content: space-between;
}

.recent-form {
  display: flex;
  justify-content: space-evenly;
  margin-right: 35px;
  gap: 20px;
  align-items: center;
}

.recent-btn {
  display: flex;
  width: 300px;
  height: 43px;
  border: 1px solid #d2d2d2;
  border-radius: 20px;
  justify-content: space-between;
}

.recent-online {
  background-color: #000000;
  color: #ffffff;
  border-radius: 20px;
  /* padding: 0px 50px; */
  font-size: 14px;
  font-weight: 600;
  width: 150px;
}

.recent {
  background-color: #ffffff;
  border-radius: 20px;
}

.booking-head th {
  background-color: #fe0dc91a;
  height: 53px;
  padding-top: 15px;
}

.booking-head th:first-child {
  border-top-left-radius: 20px;
}

.booking-head th:last-child {
  border-top-right-radius: 20px;
}

.booking table tr th:first-child {
  border-top-left-radius: 20px;
}

.booking table tr th:last-child {
  border-top-right-radius: 20px;
}

.booking table tr {
  height: 30px;
}

.booking-history {
  height: 836px;
  background-color: #ffffff;
  border-radius: 10px;
}

.booking-date input {
  width: 180x;
  border-radius: 10px;
  height: 36px;
}

.booking-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.booking-icon img {
  width: 20px;
  height: 20px;
  margin: 5px;
}

.booking-form {
  display: flex;
  width: 55%;
  /* gap: 50px; */
  justify-content: space-around;
  /* justify-content: end; */
  align-items: baseline;
}

.booking1 {
  height: 1000px;
}

.booking-details {
  height: 174px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 40px;
  line-height: 0.7;
  /* display: flex; */
  /* justify-content: space-between; */
}

.user-detail {
  height: 174px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 40px;
}

.user-detail-pic img {
  width: 70px;
  height: 70px;
}

.booking-detail-inner {
  display: flex;
  justify-content: space-between;
}

.booking-items {
  height: 6000px;
}

.booking-payment {
  height: 198px;
  background-color: #000000;
  border-radius: 15px;
}

.booking-payment-inner {
  height: 165px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 40px;
  line-height: 0.7;
  /* display: flex; */
  /* justify-content: space-between; */
}
.recent-table {
  min-width: 540px;
}
.map {
  height: 240px;
  border-radius: 10px;
}

.link {
  height: 64px;
  padding: 20px;
  font-family: "Lexend", serif;
}

/* Meeting Box */
.meeting-box {
  width: 415px;
  height: 305px;
  border-radius: 15px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
}

.meeting-inp {
  width: 370px;
  height: 52px;
  border-radius: 8px;
  border: 1px solid #e2e5ea;
}

.instruct {
  width: 565px;
  height: 146px;
  border-radius: 30px;
  border: 1px dashed #aaa6b9;
  padding: 10px;
}

.manual {
  display: flex;
  justify-content: space-around;
}

.download img {
  width: 28px;
  height: 28px;
}

.pdf img {
  width: 84px;
  height: 84px;
}

.rating {
  height: 207px;
}

.rating-inner {
  height: 158px;
  width: 70%;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.rating-inner img {
  width: 52px;
  height: 52px;
}

.rating-detail {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

/* Buttons */

.btn-group {
  /* width: 312px; */
  height: 43px;
  border: 0.47px solid #949bab66;
  border-radius: 20px;
  padding: 2px;
}

.btn-online {
  font-size: 14px;
  font-family: "Red Hat Display";
  font-weight: 600;
  border-radius: 50px;
  width: 110px;
  height: 38px;
  border: none;
}

.btn-physical {
  font-size: 14px;
  font-family: "Red Hat Display";
  font-weight: 600;
  border-radius: 50px;
  width: 110px;
  height: 38px;
  border: none;
}

.btn-reject {
  width: 247px;
  height: 56px;
  border: 1px solid #2f2f2d;
  color: #2f2f2d;
  font-size: 14px;
  border-radius: 10px;
  font-weight: 500;
  font-family: "Lexend";
  background-color: #ffffff;
}

.btn-white {
  width: 247px;
  height: 56px;
  border: 1px solid #2f2f2d;
  color: #2f2f2d;
  font-size: 14px;
  border-radius: 10px;
  font-weight: 500;
  font-family: "Lexend";
  background-color: #ffffff;
}

.btn-black {
  width: 247px;
  height: 56px;
  border: 1px solid #2f2f2d;
  font-size: 14px;
  border-radius: 10px;
  font-weight: 500;
  font-family: "Lexend";
  color: #ffffff;
  background-color: #2f2f2d;
}

.btn-black-meeting {
  width: 370px;
  height: 56px;
  border: 1px solid #2f2f2d;
  font-size: 14px;
  border-radius: 10px;
  font-weight: 500;
  font-family: "Lexend";
  color: #ffffff;
  background-color: #2f2f2d;
}

/* List Of Service Start */
.list-service {
  height: 836px;
  background-color: #ffffff;
  border-radius: 10px;
}

.list-service table tr th:first-child {
  border-top-left-radius: 10px;
}

.list-service table tr th:last-child {
  border-top-right-radius: 10px;
}

.pink {
  background-color: #fe0dc9 !important;
}

.add-service {
  height: 437px;
  width: 415px;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.add-service input {
  width: 369px;
  height: 52px;
  border: 1px solid #e2e5ea;
  border-radius: 8px;
}

.add-service button {
  width: 370px;
  height: 52px;
  border-radius: 8px;
  text-align: center;
  background-color: #2f2f2d;
  color: #ffffff;
  font-family: "Red Hat Display", serif;
}

.add-service img {
  width: 30px;
  height: 30px;
}
.los-btn {
  background-color: #2f2f2d;
  color: #ffffff;
  padding: 5px 15px;
  font-size: 14px;
  border-radius: 10px;
}

/* List Of Service End */

/* Broadcast Notification Start */

.broadcast {
  height: 836px;
  background-color: #ffffff;
  border-radius: 10px;
}

.broadcast-btn {
  width: 108px;
  height: 33px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 0.5px solid #2f2f2d;
  font-family: "lexend", serif;
  box-shadow: 0px 0px 1px #2f2f2d;
  font-size: 14px;
}

.notification {
  display: flex;
  justify-content: center;
  height: 223px;
  background-color: #ffffff;
  border-radius: 10px;
  align-items: center;
  gap: 25px;
}

.notification-img img {
  width: 106px;
  height: 106px;
}

.notification-content {
  display: flex;
  flex-direction: column;
  height: 90px;
  justify-content: center;
  line-height: 0.5;
  font-family: "Lexend";
}

.notification-btn {
  width: 193px;
  height: 43px;
  border: 1px solid #2f2f2d;
  font-size: 16px;
  border-radius: 10px;
  font-weight: 500;
  font-family: "Lexend";
  color: #ffffff;
  background-color: #2f2f2d;
}

/* Broadcast Notification End */

/* Referral Start */

.referral {
  height: 836px;
  background-color: #ffffff;
  border-radius: 10px;
}

/* Referral End */

/* FAQ Start */

.faq {
  height: 836px;
  background-color: #ffffff;
  border-radius: 10px;
}

.faq-img img {
  width: 30px;
  height: 30px;
}

.add-faq {
  height: 484px;
  width: 415px;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.add-faq img {
  width: 30px;
  height: 30px;
}

.add-faq input {
  width: 369px;
  height: 52px;
  border: 1px solid #e2e5ea;
  border-radius: 8px;
}

.ans {
  height: 104px !important;
}

.faq-btn {
  width: 370px;
  height: 52px;
  border-radius: 8px;
  text-align: center;
  background-color: #2f2f2d;
  color: #ffffff;
  font-family: "Red Hat Display", serif;
}

/* FAQ End */

/* Query Start */
.query-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.query-status img {
  width: 5px;
  height: 18px;
}

/* Query End */

/* Setting Start */

.setting {
  display: flex;
  flex-direction: column;
  height: 440px;
  justify-content: space-around;
}

.setting-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  height: 85.54px;
  padding: 28px;
  border-radius: 20px;
  border: 1px solid #828d9e66;
  background-color: #ffffff;
  font-family: "lexend", serif;
}

.setting-div a {
  text-decoration: none;
  color: #000000;
}

.terms {
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.back a {
  text-decoration: none;
  color: #000000;
  font-weight: 900;
}

/* Commission Cart Start */

.commission {
  height: 302px;
  width: 415px;
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 15px;
}

.commission input {
  width: 369px;
  height: 52px;
  border: 1px solid #e2e5ea;
  border-radius: 8px;
}

.commission button {
  width: 370px;
  height: 52px;
  border-radius: 8px;
  text-align: center;
  background-color: #2f2f2d;
  color: #ffffff;
  font-family: "Red Hat Display", serif;
}

/* Commission Cart End */

/* Setting End */

/* Cashout Start */

.cash-cart {
  background-color: #ffffff;
  border-radius: 20px;
  height: 144px;
  padding: 35px;
}

.cash-btn {
  width: 148px;
  height: 36px;
  border: 1px solid #2f2f2d;
  font-size: 14px;
  border-radius: 10px;
  font-weight: 400;
  font-family: "Red Hat Display", serif;
  color: #ffffff;
  background-color: #2f2f2d;
}

/* Cashout End */

/* Profile Start */

.profile-pic {
  width: 157px;
  height: 146px;
}

.profile-pic img {
  width: 157px;
  height: 146px;
}

.profile-detail {
  height: 271px;
  font-size: 18px;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 80px;
  gap: 20px;
}

.profile-detail div {
  display: flex;
  align-items: baseline;
  gap: 15px;
  font-size: 18px;
}

.profile-btn {
  width: 450px;
  height: 56px;
  border-radius: 10px;
  text-align: center;
  background-color: #2f2f2d;
  color: #ffffff;
  font-family: "Red Hat Display", serif;
}

.edit-profile-pic {
  background-color: #ffffff;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: 2px dashed #fe0dc966;
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-input {
  width: 100%;
  height: 47px;
  border-radius: 12px;
  border: 0.2px solid #8a96af;
  background-image: url("../Images/mail.png");
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 20px;
  padding-left: 40px;
  margin: 10px 0px;
}

.pass-input {
  width: 100%;
  height: 47px;
  border-radius: 12px;
  border: 0.2px solid #8a96af;
  background-image: url("../Images/pass.png");
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 20px;
  padding-left: 40px;
  margin: 10px 0px;
}

.phone-input {
  width: 100%;
  height: 47px;
  border-radius: 12px;
  border: 0.2px solid #8a96af;
  background-image: url("../Images/Call.png");
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 20px;
  padding-left: 40px;
  margin: 10px 0px;
}

/* Profile End */

/* Login Screen Start */

.login-screen {
  height: 100vh;
  background-image: url("../Images/login.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-page {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 694px;
  font-family: "Lexend", serif;
}

.login-top {
  width: 200px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;

  gap: 10px;
}

select {
  border: none;
  /* No border */
  background: none;
  /* Transparent background */
  color: #fe0dc9;
  outline: none;
  /* Remove focus outline */
}

.custom-select {
  /* border-left: 1px solid grey; */
  /* padding-left: 10px; */
}

.login-top img {
  width: 1px;
  height: 36px;
  align-self: center;
}

.login-email {
  width: 518px;
  height: 47px;
  border-radius: 12px;
  border: 0.2px solid #8a96af;
  background-image: url("../Images/mail.png");
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 20px;
  padding-left: 40px;
  margin: 10px 0px;
}

.login-password {
  width: 518px;
  height: 47px;
  border-radius: 12px;
  border: 0.2px solid #8a96af;
  background-image: url("../Images/pass.png");
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 20px;
  padding-left: 40px;
  margin: 10px 0px;
}

.login-btn {
  width: 518px;
  height: 56px;
  border-radius: 10px;
  text-align: center;
  background-color: #2f2f2d;
  color: #ffffff;
  font-family: "Red Hat Display", serif;
}

/* Login Screen End */

/* Service Provider Request Start */

.sp-btn {
  display: flex;
  gap: 10px;
}
.sp-provider {
  overflow-x: auto;
}

.sp-provider-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.service-approve-btn {
  width: 108px;
  height: 33px;
  background-color: #fe0dc9;
  color: #ffffff;
  font-weight: 500px;
  font-size: 14px;
  border: none;
  border-radius: 8px;
}

.service-disapprove-btn {
  width: 108px;
  height: 33px;
  background-color: #ffffff;
  color: #2f2f2d;
  font-weight: 500px;
  font-size: 14px;
  border: 0.5px solid #2f2f2d;
  border-radius: 8px;
}

.eye-btn {
  width: 24px;
  height: 24px;
  border: none;
  background-color: #ffffff;
  background-image: url("../Images/Eye.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.service-provider-btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.seeker-action img {
  width: 5px;
  height: 23px;
}

/* Service Provider Request End */

/* Service Provider Details Start */

.spd-img img {
  width: 129px;
  height: 124px;
}

.service-provider-detail {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 40px;
}

.service-provider-docs {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 40px;
  /* height: 617px; */
}

.spd-btn {
  width: 129px;
  height: 44px;
  border: 1px solid #2f2f2d;
  font-size: 16px;
  border-radius: 10px;
  font-weight: 500;
  font-family: "Lexend", serif;
  color: #ffffff;
  background-color: #2f2f2d;
}

.service-provider-docs-list {
  height: 412px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.booking {
  overflow-x: auto;
}

.spd-approve-btn {
  width: 160px;
  height: 49px;
  background-color: #fe0dc9;
  color: #ffffff;
  font-weight: 500px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
}

.spd-disapprove-btn {
  width: 160px;
  height: 49px;
  background-color: #ffffff;
  color: #2f2f2d;
  font-weight: 500px;
  font-size: 20px;
  border: 0.5px solid #2f2f2d;
  border-radius: 10px;
}

.spd-map {
  height: 284px;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 25px;
}

.spd-map iframe {
  margin-top: 10px;
  border-radius: 16px;
}
.user-profile-header{
  display: flex;
  justify-content: center;
  align-items: center;
}

.spd-bar {
  background-color: #ffffff;
  border-radius: 50px;
  border: 0.47px solid #acb4bf;
  display: flex;
  justify-content: space-around;
  /* height: 43px; */
}

.spd-bar-btn {
  width: 135px;
  height: 38px;
  border-radius: 50px;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  font-family: "Lexend", serif;
  border: none;
}

/* Service Provider Details End  */

.main-table {
  min-width: 680px;
  overflow-x: auto;
}

.seeker-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.cashout {
  text-align: end;
}

.gfg {
  height: 50px;
  width: 50px;
}

/* .mynav {
  color: #fff;
}

.mynav li a {
  color: #fff;
  text-decoration: none;
  width: 100%;
  display: block;
  border-radius: 5px;
  padding: 8px 5px;
}

.mynav li a.active {
  background: rgba(255, 255, 255, 0.2);
}

.mynav li a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.mynav li a i {
  width: 25px;
  text-align: center;
} */

.notification-badge {
  background-color: rgba(255, 255, 255, 0.7);
  float: right;
  color: #222;
  font-size: 14px;
  padding: 0px 8px;
  border-radius: 2px;
}

.my-client-head {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.client-head-inner {
  display: flex;
  gap: 15px;
}
.my-client-btn {
  background-color: #2f2f2d;
  color: #ffffff;
  padding: 5px 30px;
  font-size: 14px;
  border-radius: 10px;
}

.sp-booking-head {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.client-booking-head {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 25px;
}
.download-icons {
  background-color: #fe0dc91a;
  width: 280px;
  display: flex;
  font-size: 12px;
  gap: 7px;
  justify-content: center;
  /* padding-top: 9px; */
  align-items: center;
  height: 36px;
  border-radius: 8px;
}
.client-booking-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.download-icons p {
  margin: 0px;
}

.client-btn-group {
  /* width: 312px; */
  height: 43px;
  border: 0.47px solid #949bab66;
  border-radius: 20px;
  padding: 2px;
}

.client-btn-booking {
  font-size: 14px;
  font-family: "Red Hat Display";
  font-weight: 600;
  border-radius: 50px;
  width: 110px;
  height: 38px;
  border: none;
}

.client-btn-record {
  font-size: 14px;
  font-family: "Red Hat Display";
  font-weight: 600;
  border-radius: 50px;
  width: 110px;
  height: 38px;
  border: none;
}

/* Record Start */
.record {
  height: 517px;
  width: 467px;
  background: #f4f9ff;
  padding: 25px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.record-inner {
  background: #fe0dc9;
  width: 100%;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 61px;
}
.record-data {
  padding-top: 18px;
  padding-left: 10px;
}

.record-detail {
  width: 467px;
  height: 763px;
  background-color: #f4f9ff;
  border-radius: 15px;
  font-family: "lexend", "sans-serif";
  padding: 20px;
}

.record-detail-inner {
  background-color: #ffffff;
  height: 220px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.record-id {
  display: flex;
  background-color: #fbe4fc;
  height: 69px;
  /* align-items: center; */
  justify-content: flex-start;
  padding-left: 15px;
  padding-top: 23px;
  border-radius: 10px;
}
.record-detail-data {
  display: flex;
  justify-content: space-between;
}

.record-detail-img img {
  width: 52.64px;
  height: 52.64px;
}
.record-pdf {
  padding: 10px;
}
.record-notes {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 15px;
}

/* Record End */

.chk-box input {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.query-status input {
  width: 20px;
  height: 20px;
  margin-bottom: 15px;
}

.notification-cart {
  width: 415px;
  height: 403px;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.notification-cart img {
  width: 150px;
  height: 150px;
}

.cashout-cart {
  width: 415px;
  height: 403px;
  background-color: #ffffff;
  font-family: "lexend", "sans-serif";
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 15px;
  border-radius: 15px;
}
.cashout-cart input{
  width: 369px;
  height: 52px;
  border: 1px solid #e2e5ea;
  border-radius: 8px;
  padding-left: 12px;
}

.cashout-cart button {
  width: 370px;
  height: 52px;
  border-radius: 8px;
  text-align: center;
  background-color: #2f2f2d;
  color: #ffffff;
  font-family: "Red Hat Display", serif;
}
/* Edit Cart  */
.edit-cart {
  width: 415px;
  height: 403px;
  background-color: #ffffff;
  font-family: "lexend", "sans-serif";
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 15px;
  border-radius: 15px;
  line-height: 0px;
}
.edit-cart input{
  width: 369px;
  height: 52px;
  border: 1px solid #e2e5ea;
  border-radius: 8px;
  padding-left: 12px;
}
.edit-cart button {
  width: 370px;
  height: 52px;
  border-radius: 8px;
  text-align: center;
  background-color: #2f2f2d;
  color: #ffffff;
  font-family: "Red Hat Display", serif;
}
/* Edit Cart */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 999; /* Just below the popup */
}